{% extends 'base.html' %}

<!-- <link rel="stylesheet" href="../static/style.css"> -->
<!--{% block contentRIP %}
    <div class="bg-primary" style="grid-column: 1/3;grid-row:1/3;">1Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rhoncus elementum dui a eleifend. Maecenas in metus hendrerit lorem luctus efficitur non eu orci. Sed vel dui elit. Cras ac rhoncus nibh, in laoreet nulla. Sed at orci nunc. Nulla facilisi. Fusce ultricies euismod neque, tempor dapibus metus tempor eu. </div>
    <div class="bg-success" style="grid-column: 3/5;grid-row:1/6;">2Etiam pulvinar viverra urna, id dictum ex tristique et. Mauris dignissim rutrum vestibulum. Ut sed elementum purus, at scelerisque odio. Donec mattis neque vel laoreet blandit. Donec nec neque ornare, laoreet augue sed, elementum quam. Donec tristique tortor vel aliquet volutpat. Cras sed tincidunt metus. Quisque non nulla nisi. Praesent aliquam orci et velit facilisis, eu tristique elit dignissim. </div>
    <div class="bg-danger" style="grid-column: 1/3;grid-row:3/10;">3Aliquam erat volutpat. Duis a nunc nulla. Sed posuere metus enim, vel tempus tellus fringilla sed. Suspendisse ultricies odio ut consequat gravida. Maecenas accumsan interdum orci, sed mattis lorem gravida vitae. Integer convallis tortor felis, quis sagittis sem tincidunt non. Proin suscipit blandit elit, non dignissim velit ullamcorper quis. Nam vitae consectetur dui. Praesent lacinia pharetra diam nec maximus. </div>
    <div class="bg-secondary" style="grid-column: 3/5;grid-row:6/10;">1Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rhoncus elementum dui a eleifend. Maecenas in metus hendrerit lorem luctus efficitur non eu orci. Sed vel dui elit. Cras ac rhoncus nibh, in laoreet nulla. Sed at orci nunc. Nulla facilisi. Fusce ultricies euismod neque, tempor dapibus metus tempor eu. </div>
    <div class="bg-info" style="grid-column: 3/5;grid-row:10/30;">2Etiam pulvinar viverra urna, id dictum ex tristique et. Mauris dignissim rutrum vestibulum. Ut sed elementum purus, at scelerisque odio. Donec mattis neque vel laoreet blandit. Donec nec neque ornare, laoreet augue sed, elementum quam. Donec tristique tortor vel aliquet volutpat. Cras sed tincidunt metus. Quisque non nulla nisi. Praesent aliquam orci et velit facilisis, eu tristique elit dignissim. </div>
    <div class="bg-light" style="grid-column: 1/3;grid-row:10/30;">3Aliquam erat volutpat. Duis a nunc nulla. Sed posuere metus enim, vel tempus tellus fringilla sed. Suspendisse ultricies odio ut consequat gravida. Maecenas accumsan interdum orci, sed mattis lorem gravida vitae. Integer convallis tortor felis, quis sagittis sem tincidunt non. Proin suscipit blandit elit, non dignissim velit ullamcorper quis. Nam vitae consectetur dui. Praesent lacinia pharetra diam nec maximus. </div
{% endblock %}-->

{% block containerType %}blog-container{% endblock %}

{% block content %}
<div class="" style="width:100%; text-align:center">
    <h1 style="margin-bottom: 50px">Operation: find Bebo - online edition!</h1>
    <a role="button" class="btn-lg btn-light" href="https://iv2b.itch.io/operation-find-bebo-online" target="_blank">PLAY IT HERE</a>
</div>
{% endblock %}

{% block userNavbar %}
{% endblock %}

{% block lognavbar %}
{% endblock %}
