{% extends 'base.html' %}

<!-- <link rel="stylesheet" href="../static/style.css"> -->

{% block containerType %}{% endblock %}

{% block content %}
    <p></p>
    <a role="button" class="btn btn-outline-light postBackButton" href="{% url 'home' %}">Back</a>
    <div class="p-3 mb-1 bg-secondary text-white userPageParent">
        {% if user.is_authenticated %}

            <img class="userPageChild" alt="img" src="/media/avatars/{{ CustomUserContext.avatar }}.png" width="100" height="100" style="margin-right:10px">
            <div class="userPageChild" style="font-size: 35px;">{{ user.username }}</div>
            <div class="userPageChild" style="margin-left:auto;">

            {% if score >= 0 %}
                {{ score }} | #{{ rank }}
            {% endif %}
            </div>
        {% endif %}

    </div>
    Avatar picker:
    <div class="p-3 mb-2 bg-secondary text-white">
        {% for i in "0123" %}
            <a href="{% url 'changeAvatar' i %}">
                <img class="userPageChild" alt="img" src="/media/avatars/{{ forloop.counter0 }}.png" width="100" height="100" style="margin-right:10px">
            </a>
        {% endfor %}
    </div>
    <a href="{% url 'password_change' %}" class="btn  bg-secondary text-white" role="button">Change password</a>
{% endblock %}

{% block userNavbar %}
{% endblock %}

{% block lognavbar %}
{% endblock %}